
</body>
    <footer>
       
        <img src = "https://maui.hawaii.edu/wp-content/uploads/2021/02/UHMC/official-seal.jpg" alt = "UHMC Official Seal" style: "width = 100p; height: 100px;">
       
    Copyright &#169; UHMC 2020
    </footer>
</html>